.git
.github
.env
.env.*
.phpunit.cache
.phpunit.result.cache
node_modules
public/build
public/hot
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
vendor
